/*** Material Design Fonts Size ***/
.font-sz-xs {
  font-size: 8;
}
.font-sz-s {
  font-size: 12;
}
.font-sz-m {
  font-size: 16;
}
.font-sz-l {
  font-size: 20;
}
.font-sz-xl {
  font-size: 24;
}
.font-sz-xxl {
  font-size: 32;
}
